.banner {
    position: relative;
    overflow: hidden;
    background: url("../../../images/banner.jpg")no-repeat;
    background-size: cover;
    background-position:center center ;
    min-height: 550px;
  }
  
 
  .about-img img {
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
  }
  .contaner_bg{
    background-color: gold;
    color: #333;
  }